# ============================================================
# KLIPPER & DOCKER ENVIRONMENT CONFIGURATION
# ============================================================

# Timezone
TZ=Asia/Jakarta

# Serial path to MCU (misal: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0 atau /dev/ttyUSB0)
MCU_SERIAL=/dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

# Exposed Ports
MAINSAIL_PORT=8000
MOONRAKER_PORT=7125

# Printer Model Profile (Pilih dari: ender3_pro [8-bit ATmega] | ender3_pro_v422 [32-bit v4.2.2] | generic_cartesian | voron24)
PRINTER_TYPE=ender3_pro


# Printer Settings
PRINTER_KINEMATICS=cartesian

PRINTER_MAX_VELOCITY=300
PRINTER_MAX_ACCEL=3000
PRINTER_MAX_Z_VELOCITY=5
PRINTER_MAX_Z_ACCEL=100
