# Klipper G-code Macros
# Directives for PAUSE, RESUME, and CANCEL_PRINT

[gcode_macro PAUSE]
description: Jeda proses cetak saat ini
rename_existing: PAUSE_BASE
gcode:
    {% set z = params.Z|default(10)|int %}
    SAVE_GCODE_STATE NAME=state_pause
    PAUSE_BASE
    G91
    {% if printer.toolhead.position.z < (printer.toolhead.axis_maximum.z - 5) %}
        G1 E-2 F2700
        G1 Z{z} F3000
    {% else %}
        G1 E-2 F2700
        G1 Z{printer.toolhead.axis_maximum.z - printer.toolhead.position.z} F3000
    {% endif %}
    G90
    G1 X5 Y{printer.toolhead.axis_maximum.y - 5} F6000
    G91

[gcode_macro RESUME]
description: Lanjutkan proses cetak yang terjeda
rename_existing: RESUME_BASE
gcode:
    G91
    G1 E2 F2700
    G90
    RESTORE_GCODE_STATE NAME=state_pause MOVE=1 MOVE_SPEED=60
    RESUME_BASE

[gcode_macro CANCEL_PRINT]
description: Batalkan proses cetak dan parkir head printer
rename_existing: CANCEL_PRINT_BASE
gcode:
    TURN_OFF_HEATERS
    CLEAR_PAUSE
    SDCARD_RESET_FILE
    G91
    G1 E-2 F2700
    {% if printer.toolhead.position.z < (printer.toolhead.axis_maximum.z - 10) %}
        G1 Z10 F3000
    {% else %}
        G1 Z{printer.toolhead.axis_maximum.z - printer.toolhead.position.z} F3000
    {% endif %}
    G90
    G1 X0 Y{printer.toolhead.axis_maximum.y - 10} F6000
    M106 S0
    CANCEL_PRINT_BASE
